:root {
    /* Colors */
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    
    --Brown-800: hsl(14, 45%, 36%);
    
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
        /* Size */
    --FsizeP: 16px;
        /* Fonts */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Stone-100);

}

main {
    background-color: var(--White);
    margin-top: 10rem;
    border-radius: 0.5rem;
}

h2 {
    color: var(--Brown-800);
}

.OmeletteImage {
    margin: 2rem;
}

.PreparationBox {
    background-color: var(--Rose-50);
    margin: 2em 2rem;
    padding: 2rem 0rem;
}

.PreparationTitle {
    color: var(--Rose-800);
    margin-left: 2rem;
}

.PreparationContent {
    margin: 0rem 2.5rem;
    padding-top: 0.5rem;
} 

.PreparationItem {
    padding-top: 1rem;
}

.IngredientsList-div {
    margin: 0rem 2.5rem;
    padding-top: 0.5rem;
} 

.IngredientsItem {
    padding-top: 1rem;
}

ol {
    list-style-position: inside;
}

ul {
    list-style-position: inside;
}

.MakeBrown {
    color: var(--Brown-800);
}

.attribution { font-size: 5px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

