:root {
    /* Colors */
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    
    --Brown-800: hsl(14, 45%, 36%);
    
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
        /* Size */
    --FsizeP: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
h1, h2, h3 {
    font-family: "Young Serif", serif;
}

p {
    font-family: "Outfit", serif;
    color: var(--Stone-900);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Stone-100);
}

.Main {
    background-color: var(--White);
    margin: 4rem auto;
    border-radius: 1.25rem;
    padding: 2.5rem 1rem;
}

.title-description{
    margin: 0rem 0rem 4rem 4rem;    
}

.Title {
    font-size: 4rem;
    margin-bottom: 1rem 0rem;
    color: var(--Stone-900);
}

.descriptionText {
    font-size: 1.8rem;
}

.OmeletteImage {
    margin: 30px;
    border-radius: 7px;
}

.PreparationBox {
    background-color: var(--Rose-50);
    margin: 2em 2rem;
    padding: 2rem 0rem;
    border-radius: 0.40375rem;
}

.PreparationTitle {
    color: var(--Rose-800);
    margin-left: 2rem;
}

.PreparationContent {
    margin: 0rem 2.5rem;
    padding-top: 0.5rem;
} 

.PreparationItem {font-family: "Outfit", sans-serif;
    padding-left: 1rem;
    margin: 1rem 0rem;
    color: var(--Stone-900);
}

li::marker {
    color: var(--Rose-800);
}

.IngredientsList-div {
    margin: 0rem 2.5rem;
    padding-top: 0.5rem;
} 

.IngredientsItem {
    padding-top: 1rem;
    color: var(--Stone-900);
}

.IngredientsItem li::marker {
    color: var(--Brown-800);
}

.numbered-list {
    border: 2px solid red;
    margin: 1rem 1.25rem;
}

.divider{
    background-color: #e2e2e2;
    height: 1px;
    margin: 2rem 0rem;
    padding-left: 2rem;
}

.nutrition-p {
    margin: 1rem 0rem;
}

.nutrition-table {
    margin: 2rem;
}

.nutrition-card {
    display: flex;
}

.macro-p {
    width: 300px;
    padding-left: 2rem;
}

.MakeBold {
    font-weight: bold;
}

.GoldText {
    color: var(--Brown-800);
}

.attribution { font-size: 5px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

